.row-expanded-top {
  border-top: 3px solid #bdbdbd;
  border-left: 3px solid #bdbdbd;
  border-right: 3px solid #bdbdbd;
  background-color: #bdbdbd;
}

.row-expanded-bottom {
  border-bottom: 3px solid #bdbdbd;
  border-left: 3px solid #bdbdbd;
  border-right: 3px solid #bdbdbd;
  background-color: #eeeeee;
}

.row-expanded-top:hover {
  background-color: #bdbdbd;
}
.row-expanded-bottom:hover {
  background-color: #eeeeee;
}
